/* general */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    padding: 0 20px;
    background: linear-gradient(rgba(8, 8, 8, 0.7) 0%, rgba(8, 8, 8, 0.7) 100%),
        url(./img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: sans-serif;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/* header */
header h1 {
    text-align: center;
    margin: 20px;
    font-size: 3rem;
}

/* typing boxes */
.row {
    width: 100%;    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.meas-box {
    width: 20%;
}

.measurement {
    background-color: rgba(128, 128, 128, 0.3);
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

.typingIcon img {
   width: 75px;
}

.value {
    font-size: 25px;
}

.change {
    height: 25px;
    width: 25px;
    background-color: rgba(128, 128, 128, 0.3);
    font-size: 16px;
    margin: 3px auto;
    border-radius: 3px;
}

/* text content */
#content {
    text-align: center;
    height: 150px;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.3);
    margin: 10px auto;
    border-radius: 5px;
}

/* reset button */
#reset {
    display: inline;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 30px;
    padding: 10px 30px;
    margin: 20px;
}
